################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/solarsystemencyclopedia.metadata.v7.bin
*.bin
/.vs/SolarSystemEncyclopedia/config/applicationhost.config
/.vs/SolarSystemEncyclopedia/DesignTimeBuild/.dtbcache.v2
/.vs/SolarSystemEncyclopedia/FileContentIndex/cc4e36cc-c309-4887-947b-feca7f63737c.vsidx
/.vs/SolarSystemEncyclopedia/v17/.futdcache.v2
/.vs/SolarSystemEncyclopedia/v17/.suo
/SolarSystemEncyclopedia/bin/Debug/net8.0/SolarSystemEncyclopedia.dll
/SolarSystemEncyclopedia/bin/Debug/net8.0/SolarSystemEncyclopedia.exe
/SolarSystemEncyclopedia/bin/Debug/net8.0/SolarSystemEncyclopedia.pdb
/SolarSystemEncyclopedia/bin/Debug/net8.0/SolarSystemEncyclopedia.staticwebassets.runtime.json
/SolarSystemEncyclopedia/obj/Debug/net8.0/apphost.exe
/SolarSystemEncyclopedia/obj/Debug/net8.0/project.razor.vs.bin
/SolarSystemEncyclopedia/obj/Debug/net8.0/ref/SolarSystemEncyclopedia.dll
/SolarSystemEncyclopedia/obj/Debug/net8.0/refint/SolarSystemEncyclopedia.dll
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.AssemblyInfo.cs
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.AssemblyInfoInputs.cache
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.assets.cache
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.csproj.FileListAbsolute.txt
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.csproj.LibSassBuilder.cache
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.dll
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.GeneratedMSBuildEditorConfig.editorconfig
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.genruntimeconfig.cache
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.pdb
/SolarSystemEncyclopedia/obj/Debug/net8.0/SolarSystemEncyclopedia.sourcelink.json
/SolarSystemEncyclopedia/obj/Debug/net8.0/staticwebassets.build.json
/SolarSystemEncyclopedia/obj/Debug/net8.0/staticwebassets.development.json
/SolarSystemEncyclopedia/obj/Debug/net8.0/staticwebassets.pack.json
/SolarSystemEncyclopedia/obj/project.assets.json
/SolarSystemEncyclopedia/obj/project.nuget.cache
/SolarSystemEncyclopedia/obj/SolarSystemEncyclopedia.csproj.nuget.dgspec.json
/.vs/SolarSystemEncyclopedia/v17/.wsuo
