@using System.Text.RegularExpressions
@model SolarSystemEncyclopedia.ViewModels.IndexViewModel

<form id="search-form" class="d-flex justify-content-center my-3">
    <input type="text" id="search-input" class="form-control" placeholder="Search..." />
    <button type="button" id="search-button" class="btn btn-primary ms-2">Search</button>
</form>


<div id="partial-view-container">
    @Html.Partial("_IndexPartial", Model)
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search-button').click(function () {

            var searchTerm = $('#search-input').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("Search", "Encyclopedia")',
                data: { searchTerm: searchTerm },
                success: function (response) {
                    $('#partial-view-container').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });
    });
</script>

